// Specify process-level configuration
process {
  executor = 'sge'
  penv = 'omp'
  // aramp10 edit: Add your SCC project here
  clusterOptions = '-P ar-rcs'
  beforeScript = 'source $HOME/.bashrc'
  // StringTie binary crashes with "Illegal instruction" on older Ivy Bridge nodes
  withName: 'STRINGTIE_STRINGTIE' {
    clusterOptions = '-P ar-rcs -l cpu_arch=!ivybridge'
  }
}
